<!-- <input type="radio" name="genderGrp" checked (click) = "onchange('Male')"/>Male
<input type="radio" name="genderGrp" (click) = "onchange('Female')"/>Female
<input type="radio" name="genderGrp" (click) = "onchange('Others')"/>Others

<div *ngIf="Gender == 'Male'">I m Male</div>
<div *ngIf="Gender == 'Female'">I m Female</div>
<div *ngIf="Gender == 'Others'">
  Other: <input type="text" id="txtName" name=TextBox1/>
</div> -->
<!-- <app-ngifdirective></app-ngifdirective><br/><hr/>
<app-ngifelsedirective></app-ngifelsedirective><br/><hr/>
<app-ngifelsethendirective></app-ngifelsethendirective> -->

<!-- <app-log-in></app-log-in> -->
<!-- <app-services></app-services> -->

<!-- ngFor Directive -->

<!-- <app-ngfordirective></app-ngfordirective> -->

<!-- ngSwitch Directive -->
<!-- <app-ng-switch-directive></app-ng-switch-directive> -->

<!-- ngStyle Directive -->
<app-attribute-directive></app-attribute-directive>

